<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Message Board</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <form method="post" action="/new">
            <h1>Add new message</h1>

            <label for="authorName">Author name</label>
            <input type="text" id="authorName" name="authorName">
            <label for="authorMessage">Author message</label>
            <input type="text" id="authorMessage" name="authorMessage">

            <button type="submit">Submit</button>
            <a href="/"><button type="button">Back to board</button></a>
        </form>
    </body>
</html>

