<html>
    <body>
        <ul>
            <% messages.forEach((message, index) => { %>
                <%- include('message', {message: message, index: index}); %>
            <% }); %>
        </ul>

        <a href="/new">Add message</a>
    </body>
</html>