<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="message-details">
        <h1>Message Details</h1>

        <div class="message-details-block">
            <% message.forEach((messageDetails) => { %>
                <p><strong>Text:</strong> <%= messageDetails.message %></p>
                <p><strong>User:</strong> <%= messageDetails.username %></p>
                <p><strong>Date:</strong> <%= messageDetails.date %></p>
            <% }); %>

            <a href="/"><button>Back to board</button></a>
        </div>
    </div>
</body>
</html>