<div class="message-container">
    <li>
        <%= message.message %>
    </li>

    <li>
        <%= message.username %>
    </li>

    <li>
        <%= message.date %>
    </li>

    <a href="/message/<%= index %>">
        <button>Open</button>
    </a>
</div>