<div class="message-container">
    <li>
        <%= message.text %>
    </li>

    <li>
        <%= message.user %>
    </li>

    <li>
        <%= message.added %>
    </li>

    <a href="/message/<%= index %>">
        <button>Open</button>
    </a>
</div>